In [70]:
import pandas as pd
from os import listdir

dataPath = "/home/aalto/Desktop/DE/hw2/influnet/data/"

#df = pd.read_csv(dataPath, names=["time", "incidence"], sep=" ", header=1, usecols=[0,4])

df = pd.concat([pd.read_csv(dataPath+t, names=["time", "incidence"], sep=" ", header=1, usecols=[0,4]) for t in listdir(dataPath)], ignore_index=True)

df[["year","week"]] = df["time"].str.split("-", expand=True)
df.drop(["time"], axis=1, inplace=True)
df = df.set_index(["year","week"])
df.sortlevel(inplace=True)
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>incidence</th>
    </tr>
    <tr>
      <th>year</th>
      <th>week</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="10" valign="top">2003</th>
      <th>43</th>
      <td>0,47</td>
    </tr>
    <tr>
      <th>44</th>
      <td>0,52</td>
    </tr>
    <tr>
      <th>45</th>
      <td>0,60</td>
    </tr>
    <tr>
      <th>46</th>
      <td>0,59</td>
    </tr>
    <tr>
      <th>47</th>
      <td>0,70</td>
    </tr>
    <tr>
      <th>48</th>
      <td>0,64</td>
    </tr>
    <tr>
      <th>49</th>
      <td>0,80</td>
    </tr>
    <tr>
      <th>50</th>
      <td>0,99</td>
    </tr>
    <tr>
      <th>51</th>
      <td>1,30</td>
    </tr>
    <tr>
      <th>52</th>
      <td>1,32</td>
    </tr>
    <tr>
      <th rowspan="20" valign="top">2004</th>
      <th>01</th>
      <td>1,71</td>
    </tr>
    <tr>
      <th>02</th>
      <td>2,17</td>
    </tr>
    <tr>
      <th>03</th>
      <td>2,82</td>
    </tr>
    <tr>
      <th>04</th>
      <td>3,67</td>
    </tr>
    <tr>
      <th>05</th>
      <td>4,40</td>
    </tr>
    <tr>
      <th>06</th>
      <td>4,83</td>
    </tr>
    <tr>
      <th>07</th>
      <td>4,75</td>
    </tr>
    <tr>
      <th>08</th>
      <td>4,62</td>
    </tr>
    <tr>
      <th>09</th>
      <td>4,00</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3,56</td>
    </tr>
    <tr>
      <th>11</th>
      <td>3,29</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2,74</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2,15</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1,68</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1,20</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0,77</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0,60</td>
    </tr>
    <tr>
      <th>43</th>
      <td>0,37</td>
    </tr>
    <tr>
      <th>44</th>
      <td>0,29</td>
    </tr>
    <tr>
      <th>45</th>
      <td>0,37</td>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
      <td>...</td>
    </tr>
    <tr>
      <th rowspan="14" valign="top">2015</th>
      <th>15</th>
      <td>1,48</td>
    </tr>
    <tr>
      <th>16</th>
      <td>1,15</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0,75</td>
    </tr>
    <tr>
      <th>43</th>
      <td>0,50</td>
    </tr>
    <tr>
      <th>44</th>
      <td>0,68</td>
    </tr>
    <tr>
      <th>45</th>
      <td>0,76</td>
    </tr>
    <tr>
      <th>46</th>
      <td>0,88</td>
    </tr>
    <tr>
      <th>47</th>
      <td>1,02</td>
    </tr>
    <tr>
      <th>48</th>
      <td>1,16</td>
    </tr>
    <tr>
      <th>49</th>
      <td>1,21</td>
    </tr>
    <tr>
      <th>50</th>
      <td>1,45</td>
    </tr>
    <tr>
      <th>51</th>
      <td>1,66</td>
    </tr>
    <tr>
      <th>52</th>
      <td>2,11</td>
    </tr>
    <tr>
      <th>53</th>
      <td>1,87</td>
    </tr>
    <tr>
      <th rowspan="16" valign="top">2016</th>
      <th>01</th>
      <td>2,39</td>
    </tr>
    <tr>
      <th>02</th>
      <td>2,76</td>
    </tr>
    <tr>
      <th>03</th>
      <td>3,62</td>
    </tr>
    <tr>
      <th>04</th>
      <td>4,73</td>
    </tr>
    <tr>
      <th>05</th>
      <td>5,47</td>
    </tr>
    <tr>
      <th>06</th>
      <td>6,06</td>
    </tr>
    <tr>
      <th>07</th>
      <td>5,90</td>
    </tr>
    <tr>
      <th>08</th>
      <td>6,14</td>
    </tr>
    <tr>
      <th>09</th>
      <td>5,88</td>
    </tr>
    <tr>
      <th>10</th>
      <td>5,83</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5,00</td>
    </tr>
    <tr>
      <th>12</th>
      <td>4,23</td>
    </tr>
    <tr>
      <th>13</th>
      <td>3,18</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2,30</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1,85</td>
    </tr>
    <tr>
      <th>16</th>
      <td>1,19</td>
    </tr>
  </tbody>
</table>
<p>374 rows × 1 columns</p>
</div>